<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title><%= @sitename %></title>
<link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap.css" rel="stylesheet">
<style type="text/css">
	body
	{
		padding-top:70px;
		padding-bottom:70px;
	}
</style>
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>

<body>

<!-- ////////////////////// -->
<div class="navbar navbar-inverse navbar-fixed-top">
<div class="navbar-inner">	
<div class="container">
<a class="brand" href="#"><%= @sitename %></a>
</div>
</div>
</div>
<!-- ////////////////////// -->





<!-- ////////////////////// -->
<div class="container">

<%= yield %>


<!-- /// -->
<!-- /// -->


<hr>


<!-- /// -->
<footer>
<p>&copy; ... 2014</p>
</footer>
<!-- /// -->

</div> <!-- /container -->
<!-- ////////////////////// -->

</body>
</html>